<%= flash[:error] %>
<div class="d-flex align-items-center justify-content-around mx-5">
<%= render "layouts/menu_bar" %>
  <%= form_with model: @link, html: {class: "form"} do |form| %>
    <div class="d-flex">
      <%= form.text_field :long_url, placeholder: "Enter or paste your link here...", class: "form-control" %>
      <%= form.submit "Shorten", class:"shorten" %>
    </div>
  <% end %>
</div>
